<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Centered Images</title>
    <style>
        /* Center the images */
        /* Adjust the image size */
        .centered-images img {
            width: auto;
            height: auto;
            max-width: 100%; /* Ensure images don't exceed container width */
            margin-bottom: 20px; /* Add some vertical spacing between images */
        }
    </style>
</head>
<body>

<div class="centered-images">
    <!-- Replace the image sources with your image URLs -->
    <img src="../static/pie_chart1.png" alt="Image 1">
    <img src="../static/pie_chart2.png" alt="Image 2">
    <img src="../static/pie_chart3.png" alt="Image 3">
    <img src="../static/pie_chart4.png" alt="Image 4">
    <img src="../static/pie_chart5.png" alt="Image 5">
    <img src="../static/pie_chart6.png" alt="Image 6">
    <img src="../static/pie_chart7.png" alt="Image 7">
    <img src="../static/pie_chart8.png" alt="Image 8">
    <img src="../static/pie_chart9.png" alt="Image 9">
    <img src="../static/pie_chart10.png" alt="Image 10">
    <img src="../static/pie_chart11.png" alt="Image 11">
    <img src="../static/pie_chart12.png" alt="Image 12">
</div>
<h1>Responses={{num}}</h1>
<a href="../static/survey_results.json" download="result"><button>Results file</button></a>
<a href="/delete"><button>clear json file</button></a>

</body>
</html>
